.rbc-event-label {
  display: none !important;
}

.rbc-toolbar {
  display: none !important;
}

.rbc-allday-cell {
  display: none !important;
}

.rbc-header {
  font-size: 1.25rem !important;
  /* Aumenta el tamaño, ajusta a tu gusto */
  font-weight: 700 !important;
  /* Opcional: más negrita */
  letter-spacing: 0.5px;
  /* Opcional: más espacio entre letras */
  color: #7c3aed !important;
  /* Opcional: color lila */
}